{
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": ["prettier-plugin-organize-imports"]
}